<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <variable name="relaxed" 
              value="${longdate} | ${level:uppercase=true} | ${message}"
    />

    <targets>

        <target xsi:type="EventLog"
                name="eventlog"
                layout="${level:uppercase=true}: ${message}"
                machineName="."
                source="DummyService"
                log="Application"
                maxKilobytes="4096"
                maxMessageLength="1024" 
        />
        
        <target name="logconsole" xsi:type="ColoredConsole"
                layout="${relaxed}"
        />

        <target name="logfile" xsi:type="File"
                layout="${relaxed}"
                fileName="${specialfolder:folder=CommonApplicationData}/DummyService/LogFile.txt" 
        />

    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <!-- logger name="*" minlevel="Info" writeTo="eventlog" / -->
        <!-- logger name="*" minlevel="Info" writeTo="logfile" / -->
    </rules>

</nlog>
